.language-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 100;
}

.language-btn {
    background-color: var(--color3);  /* Terracotta */
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 5px;
    transition: all 0.3s ease;
    font-size: 0.9rem;
}

.language-btn:hover {
    background-color: var(--color2);  /* Peach highlight */
    color: var(--color5);             /* Charcoal text */
}

.hidden {
    display: none !important;
}

.pair-left {
    border-top-left-radius: 1rem;
    border-bottom-left-radius:1rem;
}

.pair-right {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.pair-right img {
    border-radius: inherit;
}